In [1]:
# Import all the necessary libraries
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.linear_model import LogisticRegression

In [2]:
data = pd.read_csv('data.csv')

In [3]:
data.head(10)

         id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0    842302         M  ...                  0.11890          NaN
1    842517         M  ...                  0.08902          NaN
2  84300903         M  ...                  0.08758          NaN
3  84348301         M  ...                  0.17300          NaN
4  84358402         M  ...                  0.07678          NaN
5    843786         M  ...                  0.12440          NaN
6    844359         M  ...                  0.08368          NaN
7  84458202         M  ...                  0.11510          NaN
8    844981         M  ...                  0.10720          NaN
9  84501001         M  ...                  0.20750          NaN

[10 rows x 33 columns]

In [18]:
x = pd.DataFrame(data.iloc[:,2:-5])  
x

     radius_mean  texture_mean  ...  smoothness_worst  compactness_worst
0          17.99         10.38  ...           0.16220            0.66560
1          20.57         17.77  ...           0.12380            0.18660
2          19.69         21.25  ...           0.14440            0.42450
3          11.42         20.38  ...           0.20980            0.86630
4          20.29         14.34  ...           0.13740            0.20500
..           ...           ...  ...               ...                ...
564        21.56         22.39  ...           0.14100            0.21130
565        20.13         28.25  ...           0.11660            0.19220
566        16.60         28.08  ...           0.11390            0.30940
567        20.60         29.33  ...           0.16500            0.86810
568         7.76         24.54  ...           0.08996            0.06444

[569 rows x 26 columns]

In [27]:
y = pd.DataFrame(data.iloc[:,1:2])
y


# Label Encoding
label = LabelEncoder()
print(y.shape)
y = label.fit_transform(y)

y = pd.DataFrame(y, columns=['diagnosis'])

(569, 1)

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:251: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [28]:
x_train, x_test, y_train, y_test = train_test_split(x.values, y.values, test_size=0.20, random_state=24)

print('Shape of x_train: ', x_train.shape)
print('Shape of x_test: ', x_test.shape)
print('Shape of y_train: ', y_train.shape)
print('Shape of y_test: ', y_test.shape)

Shape of x_train:  (455, 26)
Shape of x_test:  (114, 26)
Shape of y_train:  (455, 1)
Shape of y_test:  (114, 1)

In [29]:
# Training the model

logReg = LogisticRegression()

logReg.fit(x_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [30]:
logReg.intercept_

array([-0.1733065])

In [32]:
logReg.score(x_test,y_test)

0.9473684210526315

In [35]:
# evaluating the Logistic Regression Model
from sklearn.metrics import accuracy_score

logi_pred = logReg.predict(x_test)
acc_logisreg = accuracy_score(y_test, logi_pred)
print('Accuracy of the model is ', acc_logisreg)

Accuracy of the model is  0.9473684210526315